.m-logo {
  display: inline-block;
  height: 25px;

  img {
    width: auto;
    max-width: 150px;
    height: 36px;
    object-fit: contain;
  }

  &.in-mobile-topbar {
    height: 20px;
    margin: 0 $mobile-space;
  }
}
